*{
    margin: 0;
    padding: 0;
}

#root {
    --primary-font : "Karla", sans-serif;
    --primary-color : #4D5B9E;
    --secondary-color : #F5F7FB;
}

.init-container {
    font-family: var(--primary-font);
    width: 100%;

}

.init-container .top-image {
    position: absolute;
    width: 10em;
    height: 10em;
    top: 0;
    right: 0;
    z-index: -1;

}

.init-container .bottom-image {
    position: absolute;
    width: 10em;
    height: 10em;
    bottom: 0;
    left: 0;
    z-index: -1;

}

.init-container .init-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.init-main-container h1{
    font-size: 2rem;
    font-weight: bold;
}

.init-main-container p {
    padding: 1em;
    text-align: center;
}

.init-main-container button {
    padding: 1em 3em;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition:box-shadow 0.2s ease-in-out;
}

.init-main-container button:hover {
    box-shadow: -5px -5px 50px -4px rgba(0, 0, 0, 0.3);
}
.init-main-container button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


@media (min-width:600px) {
    .init-container .top-image {
        width: 15em;
        height: 15em;
    }

    .init-container .bottom-image {
        width: 15em;
        height: 15em;
    }

    .init-main-container h1 {
        font-size: 5rem;
    }

    .init-main-container p {
        font-size: 2rem;
    }

    .init-main-container button {
        padding: 1em 3em;
        font-size: 1.5rem;
    }

}