*{
    margin: 0;
    padding: 0;
}

#root {
    --primary-font : "Karla", sans-serif;
    --primary-color : #4D5B9E;
    --secondary-color : #F5F7FB;
}

body {
    font-family: var(--primary-font);
}

.init-container {
    font-family: var(--primary-font);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.image-container .top-img {
    position: absolute;
    top: 0;
    right: 0;
}

.image-container .bottom-img {
    position: absolute;
    left: 0;
    top: calc(100vh - 15em);
}

.init-container .start-container{
    text-align: center;
}

.start-container .init-title {
    font-size: 5rem;
    font-weight: bold;
}

.start-container .init-description {
    font-size: 1.rem;
    padding: 1em;
}

.start-container button {
    padding: 1em 2em;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.start-container button:focus {
    outline: none;
}

.start-container button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
    